@{
    ViewData["Title"] = "Home Page";
   // ViewData["Envia"];

}

<div class="text-center">
    <h1 class="display-4">Acervo games</h1>
    <p>Não se esqueça de pedir a conta para derrotar seu amigo.</p>
    <form method="post">
        <fieldset>
                <i>Insira o jogo</i>
            <div>
                <label for="nomeDoJogo">Nome do jogo:</label>
                <input type="text" name="nomeDoJogo" value="" />
            </div>
            <div>
                <label for="ConsolePc">Aonde roda:</label>
                <input type="text" name="ConsolePc" value="" />
            </div>
            <div>
                <label for="DataEntrega">Data entrega:</label>
                <input type="datetime" name="DataEntrega" value="28/03/2021" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Envia" class="submit" />
            </div>
        </fieldset>
    </form>

</div>
